<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- Simulation ou pas, vrai par défaut -->
    <arg name="sim" default="true" /> <!-- true ou false -->
    <arg name="mode" default="rsi" /> <!-- rsi ou eki -->

    <!-- Moveit, rviz, simulateur (ou lien RSI) -->
    <include file="$(find dimr_kuka)/launch/moveit_rviz_planning_execution.launch">
      <arg name="sim" value="$(arg sim)"/>
      <arg name="mode" default="$(arg mode)" />
    </include>

    <!-- Launch main_ihm.py interface -->
    <node pkg="dimr_kuka" type="main_ihm.py" output="screen" name="dimr_ihm_node" cwd="node"/>

    <!-- Launch main_kuka.py interface -->
    <node pkg="dimr_kuka" type="main_kuka.py" output="screen" name="dimr_kuka_node" cwd="node"/>

    <!-- joystick -->
    <include file="$(find dimr_kuka)/launch/joy_bridge_dimr.launch"/>

</launch>
